<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Topic</th>
      <th>Notes</th>
      <th>Reference</th>
      <th>Published at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.subject %></td>
        <td><%= article.topic %></td>
        <td><%= article.notes %></td>
        <td><%= if article.reference[0,7].eql? "http://" 
                  link_to article.reference, article.reference, target: '_blank'
                elsif article.reference[0,8].eql? "https://"
                  link_to article.reference, article.reference, target: '_blank'
                #elsif article.reference.split(//).last(4).join("").eql? ".pdf"
                  #link_to article.reference :format => :pdf
                  #link_to article.reference, article.reference, target: '_blank'  
                else 
                   article.reference
                end      
        %></td>
        <td><%= article.published_at %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
