<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @article.subject %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @article.topic %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @article.notes %>
</p>

<p>
  <strong>Reference:</strong>
  <%= if @article.reference[0,7].eql? "http://" 
                  link_to @article.reference, @article.reference, target: '_blank'
                elsif @article.reference[0,8].eql? "https://"
                  link_to @article.reference, @article.reference, target: '_blank'      
                else 
                   @article.reference
                end   %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @article.published_at %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
